{% extends "index.html" %}

{% block all_item %}
    <table class="hover">
	  <thead>
	    <tr>
			<th style="width: 80%">商品</th>
	        <th style="width: 10%">库存</th>
			<th style="width: 10%">价格</th>
	    </tr>
	  </thead>
	  <tbody>
        {% for item in itemInfo %}
            <tr>
                <td>{{ item.item_name }}</td>
                <td>{{ item.item_count }}</td>
				<td>{{ item.item_price }}</td>
            </tr>
        {% endfor %}
	  </tbody>
	</table>
{% endblock all_item %}