{% extends "index.html" %}

{% block all_item %}
    <table class="hover">
	  <thead>
	    <tr>
			<th style="width: 80%">商品</th>
	        <th style="width: 10%">库存</th>
			<th style="width: 10%">价格</th>
	    </tr>
	  </thead>
	  <tbody>
        {% for item in itemInfo %}
            <tr>
                <td><a data-open="detail-modal" onclick="showImg(this)" img-url="{{ item.img_url }}" note="{{ item.note }}">{{ item.title }}</a></td>
                <td>{{ item.count }}</td>
		<td>￥{{ item.price }}</td>
            </tr>
        {% endfor %}
	  </tbody>
	</table>
{% endblock all_item %}
